<html>

<body>
    <header>
        <h1 style="font-size: 60px;">Places To Stay</h1>
        <p>Hotels near Seattle</p>
    </header>
    <div>
        <div class="box3">
            <div>
                <img src="https://q-cf.bstatic.com/images/hotel/max1024x768/183/18383995.jpg" />
            </div>
            <div style="width: 50%;">
                <h3> The Edgewater Hotel <br>
                    Pier 67, 2411 Alaskan Way, Seattle, WA<br>
                    4.3 / 5 Excellent<br>
                    Non refundable - $215 Free cancellation - $239<br>
                </h3>
            </div>
            <button onclick="window.location.href = 'https://www.expedia.com/Seattle-Hotels-The-Edgewater-A-Noble-House-Hotel.h11133.Hotel-Information?chkin=12%2F2%2F2019&chkout=12%2F3%2F2019&regionId=800130&destination=Downtown+Seattle%2C+Seattle%2C+Washington%2C+United+States+of+America&swpToggleOn=true&rm1=a2&x_pwa=1&sort=recommended&SEMCID=US.UB.GOOGLE.DL-c-EN.HOTEL&SEMDTL=a11618221778.b181782791371.r1697608c228a6851a305b58282107581b78cf398e776fcd8c582ba4d8d1fc6d2b.g1kwd-3827221287.i1.d1362804204850.e1c.j19060414.k1.f11t2.n1.l1g.h1e.m1&GCLID=Cj0KCQiAn8nuBRCzARIsAJcdIfMfqd0V43q7Gu3CBA0MohilN63jTz0nUc4iOimNPHbSzzgqlhpgi5waAoPMEALw_wcB&top_dp=332&top_cur=USD&rfrr=HSR&pwa_ts=1574118318305&neighborhoodId=800130&referrerUrl=https%3A%2F%2Fwww.expedia.com%2FHotel-Search';">For More Info</button>
        </div>
        <div class="box3">
            <img src="https://edge.media.datahc.com/HI106303802.jpg" />
            <div style="width: 50%;">
                <h3>Pan Pacific Hotel <br>
                    2125 Terry Avenue, 98121, Seattle, WA<br>
                    4.6 / 5 Wonderful<br>
                    Free Cancellation - $285</h3>
            </div>
                <button onclick="window.location.href = 'https://www.panpacificseattle.com/?utm_source=local-listings&utm_medium=organic&utm_campaign=yext-panpacificseattle';">Click Here</button>
        </div>
        <div class="box3">
            <img
                src="https://media.cntraveler.com/photos/59ef76d48d4f736d51415c28/4:5/w_767,c_limit/Exterior-PanPacificSeattle-Washington-CRHotel.jpg" />
            <div style="width: 50%;">
                <h3> Hotel Warwick Seattle <br>
                    401 Lenora Street, 98121, Seattle, WA<br>
                    4.1 / 5 Very Good<br>
                    Non-Refundable - $169 Free Cancellation - $179<br>
                </h3>
            </div>
                <button onclick="window.location.href = 'https://www.warwickhotels.com/warwick-seattle?utm_source=google&utm_medium=local&utm_campaign=seo';">Click Here</button>
        </div>
        <div class="box3">
            <img src="https://img.grouponcdn.com/deal/mLhXoAwNSrzgssKfdHFL/kj-960x582/v1/c620x376.jpg" />
            <div style="width: 50%;">
                <h3> Aspira Apartments <br>
                    1823 Terry Ave, Seattle, WA 90101<br>
                    $3,395 - $4,583<br>
                </h3>
            </div>
                <button onclick="window.location.href = 'https://www.aspiraseattle.com/';">Click Here</button>
        </div>
        <div class="box3">
            <div>
                <img
                    src="https://www.northeastsuites.com/wp-content/uploads/propertyregistration/thimg/exterior.jpg1375297669.jpg" />
            </div>
            <div style="width: 50%;">
                <h3> AVA Queen Apartments <br>
                    330 3rd Ave, Seattle, WA 98119<br>
                    $3,595 - $3900<br>
                </h3>
            </div>
                <button onclick="window.location.href = 'https://www.avaloncommunities.com/washington/seattle-apartments/ava-queen-anne?utm_source=google&utm_medium=gmb&utm_campaign=gmblist';">Click Here</button>
        </div>
        <div class="box3">
            <div>
                <img src="http://aboda.com/media/ch/159_030315143348085.jpg" />
            </div>
            <div style="width: 50%;">
                <h3> Fountain Court Apartments <br>
                    2400 4th Ave, Seattle, WA 98121<br>
                    $3,014 - $3,179<br>
                </h3>
            </div>
                <button onclick="window.location.href = 'https://www.essexapartmenthomes.com/washington/seattle-area-apartments/seattle-apartments/fountain-court';">Click Here</button>
        </div>
    </div>
</body>

</html>