<html>
<body>
    <header>
        <h1>Places To Stay</h1>
        <p>Hotels near Seattle</p>
    </header>
    <div>
        <ul class="box3">
            <li><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.travelweekly.com%2FHotels%2FSeattle%2FThe-Edgewater-p51671260&psig=AOvVaw0wjiU35qt1xmIM9RP15DN3&ust=1573856948154000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNCi9pbg6uUCFQAAAAAdAAAAABAD" />
            </li>
            <li><img src="https://media.cntraveler.com/photos/59ef76d48d4f736d51415c28/4:5/w_767,c_limit/Exterior-PanPacificSeattle-Washington-CRHotel.jpg" />
            </li>
            <li><img src="https://img.grouponcdn.com/deal/mLhXoAwNSrzgssKfdHFL/kj-960x582/v1/c620x376.jpg" /></li>
        </ul>
        <ul class="box2">
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
        </ul>
        <ul class="box4">
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
        </ul>
        <ul class="box">
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
        </ul>
    </div>
</body>
</html>