<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Landing page/component for SCC lifestyle web app</title>

  </head>
  <body>
    <div class="landingBground">
      <img class="seattlePic" src="https://img.wallpapersafari.com/desktop/1600/900/33/87/OuKM92.jpg">
      <h1>
        <span>
          Welcome to SCC Lifestyle<span class="spacer"></span><br/><span class="spacer"></span><span>Explore Seattle</span>
        </span>
      </h1>
    </div>
    <div class="header">
      <h2>Emerald City</h2>
      <p>Seattle is <a href="https://www.forbes.com/sites/samanthasharf/2019/10/30/the-best-places-for-business-and-careers-2019-seattle-still-on-top/#598c7b8b53df">ranked #1</a> in the nation for Best Place for Businesses and Careers by Forbes.<br>
        There are too many accolades to list about Seattle, explore the Lifestyles app so you can explore what Seattle has to offer.</p>
    </div>
    <div class="">
      <h2>About Us</h2>
    </div>
    <div class="row">
      <div class="column">
        <h6>Seattle Central College</h6>
        <p>We are students at Seattle Central College.blah blah blah</p>
        <a href="https://seattlecentral.edu/">
          <img src="https://pbs.twimg.com/profile_images/465940311391227904/7okhWNNO.png" alt="" height="300px" width="300px">
        </a>
      </div>
      <div class="column">
        <h6>YUPP</h6>
        <p>We are Year Up Proffessional Programmers</p>
        <br><p>Our goal as Year Up and Seattle Central Students is to be employed in the tech industy in various roles bringing diversity and our value to the table</p>
        <a href="https://github.com/Scc-lifestyle-org/scc-lifestyle-app">
          <img src="/assets/pics/yupp.png" height="300px" alt="logo" style="float: left; margin: 5px 0px 5px 80px; opacity: 0.5;">
        </a>
      </div>
      <div class="column">
        <h6>Year Up</h6>
        <p>Year Up is an intensive, competitive technical training and career development program with 250 corporate partners, graduating 4,000 students annually across 19 cities. The program includes college-level courses, professional training, and a six-month internship.</p>
        <a href="https://www.yearup.org/">
          <img src="https://media.glassdoor.com/sqll/266579/year-up-squarelogo.png" alt="" height="300px" width="300px">
        </a>
      </div>
    </div>
    <footer>
      <p>Website Created by YUPP</p>
      <p>Contact information : <a href="">
        someone@example.com</a>.</p>
        <p>Social Media Links here</p>
    </footer>
  </body>
  </html>
