.costco {
  font-family: Lato;
  font-size: 20px;
  width: 100%;
  /*border: 5px solid rgba(0, 0, 0, 0.849);*/
  padding: 50px;
  margin: 0px;
  display: flex;
}

.title-pic {
width: 100%;
margin-right: 100px;
height: 100%;
content: "";
position: relative;
display: block;
top: 0;
left:0;
background-color: rgba(0,0,0,0.5);
}

.title-pic {
  width: 600px;
  height: 100%;
}

h3 {
  font-size: 30px;
  text-align: center;
}

.jumbotron {
  background-image: url("https://live.staticflickr.com/5603/15791842595_e476b2e2f4_b.jpg");
}

body {
  background-color: #ffffff;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190828/pngtree-dark-gray-wooden-planks-panel-background-image_310040.jpg");
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
font-size: 20px;
color: rgb(255, 255, 255);
align-self: center;
text-align: center;
background-color: rgba(0, 0, 0, 0.815);
}

.page {
  border: 5px solid rgb(0, 0, 0);
}