.costco {
  font-family: Lato;
  font-size: 20px;
  background-color: #55d6ab00;
  width: 100%;
  border: 5px solid rgb(0, 0, 0);
  padding: 50px;
  margin: 0px;
  display: flex;
}

.title-pic {
width: 100%;
margin-right: 100px;
height: 100%;
content: "";
position: relative;
display: block;
top: 0;
left:0;
background-color: rgba(0,0,0,0.5);
}

.title-pic img {
  width: 100%;

}

h3 {
  font-size: 40px;
  text-align: center;
}

.jumbotron {
  background-image: url("https://live.staticflickr.com/5603/15791842595_e476b2e2f4_b.jpg");
}
body {
  background-color: #55d6aa;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
