

  <div class="main-head"> <img src="https://lh3.googleusercontent.com/nfxNgFyvLDDTlWkFuoHvONHbPIK1FOh0RWeU0B1Bjw9G-qyB8p6O1uV7K9pC-7FKomlHoNaNQqgZXlG975b7GFXI3W8Cqq9VEiDgArPh7xzqyQMU0Epgj_Og6CydD9H7AcGnTHJ04ipqVT8yNilK3goqt-tRM7ug7TcMk14zZ4mPUMJ_zagOZSZ14rKC1rKdHx6XOtyNyuETtXuYRJg5CUqTvP3Ve0gjYhi0j7aQ-g-BPFE-AGcSVwgw1bsilK4kF--nYhJ8Mq-3byj0qbJspqTGAMudm6ykhNTDSkA7J3V9No9Y6rjXSGQxzgaTJq1LqqWqtD30YaFjfxrVmOH4T57maoJrF4KtpHpVG1TGhzgXA3sITpBiU34BKK_wRPMyItRbdkZLK5vD1r3vt5wTffrls0hVlvbo7qQe0JL0YKshnhWHCbcDKKIsXItDvQAyQ_HMZghx3ehnzDJOwSuJ7Na2bPjn1BaWmzVu5qMYB6wfx8GaRBt1pM8Ng9eT0z8kOiuES41fRpGAXty2JN6VWT0mk4lhPc8Vey4r14mEOrrtT83Bi_ltqFjdY9sdib8MSYx30_Eak9iTcw_GE-VZkjK9x02SLcQk_Pjk7svuIosn-nfqKmZabWU6t5qm75libOYLvrQiy-1HD45ycmEb_afIA7oBCp1By989MT-1L9Zj5LjGoufdNA=w1078-h275-no" height="100%" width="100%" >
        <div

        class="main-title"> <h1> <span class="span">Captial Hill Adult Social Life</span></h1>

      </div>
      </div>



  <div class="head"> <img src="https://lh3.googleusercontent.com/mXEJjan-qhP5YmUJc36-INCLdtZjtvG9Tr5HIlamnM5jtp9yaea9hNAGkv3m86A7ynckgZRQ2Rsz7IUuqyboSm5uFBm55rCFHfvkEaIpr_WmlDQzxjpUgr6U9eELjDowRzdIBN135DYiY7bytVcH97g1KAQfjl5aaApg0N81QDyjHwmwEC-tTq59zIrT_HU04VMdXioCK9VHa3Nd_7NFuEBDoa8x_5DOMB6DF8-5xGO15xBOFwzzvyIV3vtP2pgjP7PO-nVth7gTRj4c8YEkyBfd_qcvvbmP6dmCTjknIs6OQiTFyawhzURtVvswbD6WBDqGOq_uvExyZTUSK6_ynzge-vCJZyrumba1-9MOxFVsJiStWtYlDNQ_w8ZwloSHKF3aTxGWrlcCdliClqTwYk85OH7yGX5xfCY8VS8n-EDLP4cHkELtE2yqb2BDX1Cn3CH0Gr4XkGvju5jYfGymmcq1mSNk4Ctyeyzfg0OpstfEYkdrZquhQsG_wLo5boJl_0BwZmdUT4Q_iyD10Y7h6vQgL_Lxlhe7TEZ-dS0HDjCsu713u7vwQ2q64wm-sl4pN6WHC010rO81kyilMdzsEwuIYbyxElY0fO0rcl4-T3cf0aEh5aqUUlrcCMZKurUjyfKYBQ_BtjDZ5M_SDn2WeB-lujJv2ngtG3c7oD9njtskssWImJsf7A=w1118-h248-no"  height="100%" width="100%">

 <h1 class="title"> <span>Hookah Lounge's</span></h1>
  </div>



    <div class="big-div">

        <a class="little-div" href="https://www.yelp.com/biz/seattle-hookah-lounge-seattle">
          <div class="container">
                <img src="https://lh3.googleusercontent.com/TcpBFjEqRnHiG3NO4At3r8qHsuAdgj_YIHtImUgmJ1N8BSt-OJarGeHjH4dm3qd2cEdAaZiTasbqAoKNP0VdJYCLJxC4tPkRU-rDmVWkqsRSQXJCV4QYCvGZE77vmmRfrstbv-7Mfi-50bzO7PiqWYmf0J65J4N-FpMf-Jq-0OBZzJX1iXdcXhp7ky37hYW0dxd3ywHUZDUolBRmqgnHvj5uAZ0KtsU8Rnjs5cdsggL1G35Y8T3KmKHHxRoueihoh7vZdNPMCtbChXZcwogegemyWYQaagWffejxk5ad_NBz83qCLjie4zg9dRQLKeuIeiRalOLQVOZzKWzFgZcIT_mhk03RBhfcqqS24GYgHMctpiwHa11QumhTnAJr8y0cYYCESDBURoi2GCPv10TqFTTgY9X4XvV4NRUU9Fue7ajNZ872NBHfUit1gH0wXCaCv2IMfKRw830PfFHXn-dA3S1gy-pUIUdxImnUi6TbkKQxOAt5hJGgM5gbtNx2Slj0T4wfCwWmV7HaQbMjqXcDnCHGCt1z4vKC2OhyJRx29k-cZhNEzA0NHINuKMYD8ZC3b-6d2jE3ZKrMcxMuXLdvo9eZlFyO32rdPkTYYcEd2ZModlNQWo-giKADHgZA_gERnfx8CqX5udzMg4JADvc-4sNecTD9qsl0AQmbgmBLH6eXhxo58wgy3Q=w1736-h1228-no" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">Seattle </div>
                </div>
              </div>
              </a>



            <a class="little-div" href="https://www.yelp.com/biz/ember-hookah-lounge-seattle">
              <div class="container">
                    <img src="https://lh3.googleusercontent.com/yjOIU9qVjzrzfNQBJH-P1W4-m2RiFor00kSc6r_fTxO-uoTYwqaOeDtO7Bliq8jNXXcJHsgXdLYn5Zf1Y48b0GPmcZ20da_osNFnN9M5LXJ83lcOSWBqR_j9yTztYV-0ILu-k8yQu4cP-DBV57V-AHG1NjfbAZ0CKRFdevC_hZgR5G7Id7bu_BmzvLD35ppkfQC9CuOjhQTEcj6An6Pzh0_RHerxRDGDy63RZt2qwnmquDcGzTs2Ip9g-T6LgLOKJ3QMb9J7FTStzdeYVIDzJCgq7rRbQC6mdYXiTMp40ZJpO3xsaTke3dg-2xOJz5fwGmcMmQSHG1-HhTKg0kW22OuOLpBIdH9yQnA0hHb6QZM22DrX8792_lI-31c3QccVS--7SudqzKWrEim8Q_-GjXJEbV4YMo8JzmRodZQf90fRwr4QTa31ykt470UPVqKCm0GHFKg7IS9TksOBHMpfla_TBhH8zrdM1hlyJziPNMGX3wif9OW_jRI4-aHUWfS159HXIFID4OUsBVA1qkPnS3O7gxRoAEVf4xQgmDbSaytvvjZYLnaI6KpftyxV8_6B5xHuZhRHQPPN9AmascqDaEgtURW_waOLIAq_9efFBlqmUknI9SdjdlOBkbn9_KUj5Wy-Fsgk_181XWYjphe_sAH1ARFL2o6tCkl_gx3tuhOf89IZpRVqRw=w1484-h1000-no" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">Ember</div>
                    </div>
                  </div>
                </a>



                <a class="little-div" href="https://www.yelp.com/biz/kings-hookah-lounge-seattle">
                  <div class="container">
                        <img src="ttps://i.ibb.co/R2TVfLR/kings.png" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">King's </div>
                        </div>
                      </div>
                    </a>



                <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                  <div class="container">
                        <img src="https://lh3.googleusercontent.com/DVsJb9Avu-nwSVLojj07kv82uij-Bf7RK5_R33twUdgdjs5i0fqvD80mjdt9LyBuc8FZI69RzkbHVxPrHZesCgDnv4sHFT20j012b_JpyJHrbUBUXxHleEN3AiXEHjvSlU6GZMRJUqiZN2JmXfW821j7BE3b82AAzSjPqb9TyHNpKe4VTGAUnAmCFhPRnDBVEAlyJwyyzHlVUlD2K-OjHjqfPqFrWtyjQdSIm7pIeX8slQJGvkJ7xxTWXfZWYXqaGlHzw70RVF15cXI2e4qeLH5lWrPbnCHkFf7Ej24vAj9pPBj-h5cYgTpB8ATYyxcNAJAjgEdpO5ScgaeXeoZhPMAP-VdzmEH-UzeNtO9KlWF5rnLO3gCDnqHrFH7LrMjNFJWnIIEKABCBNRY7c18fcB6vu4qxQmbg2Dp-8ILjlmY-a7uhtoR0pAjqwAKjGWAZteV601jls-mDXplwQy8qUHyc3EAtF_1ZncJpWudqoWVDg3nE-fzXAz_R_Dsn6RZ8yAfZNHWiVbA7t2_Zdn39kdJstoyb1bymDsHa8L4l2yJZeMhSGaT59O4R8McnravO1bDgT89zD648r6Q3ucuw3za7OJUDvLBaETPCAAnqYWAsZD5CZHvuySRnUlvQLZINK40LEoml6HxI6399Lk7hjAjwdfLYhfztEfJFrYP-za71vQih10ZUWg=w539-h376-no" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Aladdin</div>
                        </div>
                  </div>
                       </a>


                    <a class="little-div" href="https://www.yelp.com/biz/casablanca-hookah-lounge-seattle?osq=Casa+Blanca+Hookah">
                      <div class="container">
                            <img src="https://lh3.googleusercontent.com/v9ZxJgbQLaW1qcA6MwuSsVhrtim_GzNVMSynBgYzkeH4dvWb28AMzdxfE6Hz_V1KckBvFB1f-4za6LzGYDIB3XJsT9NxbLgNW-K9lPnXXiroT-4fpocwm3OFjxp7b0vkOwR3vj70_dyYPLYL9hhSfw-27ad169o2Pgc3FnOFSbBZcwCWipu8EjKRAqSCORLzljrWo8CUyFN1cwra_QIujbU6xULTj8j7WobRwKvAe4rPPa9oWhH_qpoG2XyWnCEEamehTgJ8mk6jGLV7CLJDygDT54YCv7-U_fkL4JZVD_Cs8uvSBvIgm8e0eorOzFuUmXsSNtW4CCfNFgabBfLxNLDbe6tA6wBlmw6y6Svp-ELeMMOEwJzniyb89YGzKHycx4ubG6vZ-_PoZgLdW8obvrtYxaUUsuftuP0hF_xARm_wyctEXt9tuORNtqmCceMCj97wKvH6sAUTSjDWkR77chypV82J2GC5vk0Ht8O2d5rOrc0ECBBmcy8sth6HLOBOGbw1vqxcb_pAJlovKCIcJenznuH9XWt01gcO6OnC8s54i2vy4c1fulKxidFN3F8m7iMP1q0rFip8ssIb0skr24SaSFrjCBcDimjRlmSklgVprwfuFqirg-bY14DRH-IZckv-HXb-V4xjs3wOgzqKCpKNjD8wfbbpmFDH5Q80hNealE3CKpy8Vw=w317-h318-no" alt="Avatar" class="image">
                            <div class="overlay">
                              <div class="text">Casa Blanca </div>
                            </div>
                          </div>
                        </a>







                    <div class="head"> <img src="https://lh3.googleusercontent.com/0Kwmet1OLxkQp8qT6Fksj_jq3ISXPrYbILAGRKpfuV9cAcB7gDVWE3cUu2B0LwFa1F3Ev-X9mCYvH6vgY1ee00cLjVn_lxy_WonXq2cK2sEMF7HO5dhiz8e6EGvtdloTNSTpsHc0aJYBqEx9EzrWV4Lq4pOdT3065qhIRGUW3DifRCMnpru4lwQvwJK4feZfVvn0v8oQL_iFBvDLsPCMuSVt3Kc49qKn2ppnxEnT1WWGBDnRF8J_v6jlmqmRBODovIeeuxFoYbTfDYsxj1237NLugYVKq-Oyq4KO3fVysvd_pu8VGy10fkgnusW92KTHDEr9A9S-QbIvvtK7vx4VfT86i9GT3Ca_lLhA6uDCnu6c9ldxnvjhFkU9rKny2vVcVhOW3hFYH4ag9gFKqIUChNdhIvBP9R0K1gsZnSRJ91OD-RvMEnVR_563z3j-mEoHg9LyfU14N2cI_fhTwroBHMhI7CmkyU8TbzzHufeeIqGFhakAaqr1Fe5yzF30YBmG_Hxn05-8v6WjIf9WeyHrdzvHcKSJElZ_uLRcP1kiHCZAYuZgiedqJyt-CiA34wCZ5XBV03CDS7XWyhz1ZvUJR9AM9Tpl-U1x58CIPZk5NZUXHwjGbnOobbgz5rcBLoymV6aHgX7Q37ZsAgnDhscLdB6SPVJYLbUvu1ZHfAZFIWnR6JS5Jmz_HA=w997-h200-no" height="100%" width="100%">
                        <h1 class="title"> <span> Club's </span> </h1>
                          </div>

                            <div class="big-div">


                                <a class="little-div" href="https://www.yelp.com/biz/the-baltic-room-seattle">
                                  <div class="container">
                                        <img src="https://lh3.googleusercontent.com/LUqlkLDN5_cjDMWV_0cqPnzoZEmM_gdaXx3GEFcRDngaM8uVx2XVI_MW4_MSt3n0aPY1nkeV6XarVqfEKqXkAsPxjkY-0VdUjy037JNxlR3n1FQo-sz2bjw55SzlMdQMAOPds6Bx8uBxGRguX_Vxnk5fL1iRC4lAAGgOAU6QFzJrzThpECh5UopczcyA6a1NQWX84-Hs2xaYdedAzd0mL6DIT9kgDTgKKdvJuHbi-8lTj-gwMlmjnIunUWJwwF5t50yp84inhpWA7nqqgNBqYPOYzSu5amwngGtpBnPJThSzCFi9OSt_wJtL09fZUTK6SDViYtIyOYV5dipnqEELpxXrtAlzH4Ai_Y3UxJOTcsIAFq2encTqa_3VTD-zNYC05sR8WE58k3izNm50C2IIHSPjzD3KafT95d62Ega-iZjT1Tww4RHFDP0aZqUoFDcTPW4ziFmguQfyk-cUV0w0t2X9_maOCx1hcsZgxQ7jwFQmU0LLb1AdMrq4-SnLsEob-cA0-YiIYEkpqsVFJF1zMm8PJ2JwSvBQU0FkiHtksza2YiI-wvgNc7_JWpxE_w7IrbZns_uJyD3utkHnpDqWdm363_7mZF427pFbaasZV0pvmiP1E8J7uWw6CTxe3o3zeb9QytvmbtDi7f41_0ierTQ_X1dx5uBwgOz_WxMuxPCbanwpn9wHYg=w1470-h890-no" alt="Avatar" class="image">
                                        <div class="overlay">
                                          <div class="text">The Baltic Room</div>
                                        </div>
                                      </div>
                                    </a>


                                    <a class="little-div" href="https://www.yelp.com/biz/capitol-lounge-seattle">
                                      <div class="container">
                                            <img src="https://lh3.googleusercontent.com/vyHtpV02eK9BL85xu1ETDathdnAVK9vY_prxrCIGvXF5eQEftlp_d21f1fUz6ppDO0n7C379FgrSu1oKiyi0EUv1_AGkp03LEmsqIxFkpBUd24we8W3p-nIN_nDVrLK04MqRioL6e4Ckxb6kKLvrG7fYtz9AoFfhzAt7_l5YEFrerTCBZNaAjJPcnUFWxSLDVwD_5QeEMe2kvY46n2a30gglkN7WZARuPYLgH2ClTEvn8ybra2uiZhgKPvzX82btlEiNXqaQ4EguSrT5yvfls0wP-PJPjnugnCf3EuMuAAj8QY_P5ohSeQuwK_rQU541XyamZKk0GXejhbLclTOY-il6LFi8c35v2w9Qu8H_oVS_hBcSp9JAb2kND0xfP8bUTTmafsb60U5P50aHVyEodPti8kEySLPSZHjtkDpeeH1Mo2p8ZOCB6PXwireLj21d3-jt4Ii6zdzORHXlm0TKzrs_4FmBUnfUWg3BTR_DPlcDaz-RrMVYiMFbMLJoOmpn9tzwdpN_i8M6ha2n0mNDLXwT3ZRt_3MHdKJB6GG0AWcAWjqmxGmoaBb4BZovwxx3FfcVA6uErk9LdGcKZwMJHfbNCL676_2DqiI4_Qij0UuPmyfb9wRil1TCmxDhx9VuqubhRFF8kwYDEuWQVVuf0O6tsIvMpIy-3f8TCMt7kuhVBlVBS3wlgQ=w1130-h904-no" alt="Avatar" class="image">
                                            <div class="overlay">
                                              <div class="text">Capital Lounge</div>
                                            </div>
                                          </div>
                                        </a>



                                        <a class="little-div" href="https://www.yelp.com/biz/havana-seattle?osq=havana">
                                          <div class="container">
                                                <img src="https://lh3.googleusercontent.com/nUwF88hkWuvJNI7bx12clRc9UmLSrL-cq9QYOGqL5X9gqel58pWVG0IxNviK-smafzmH0Yc02xBeFYPXKqLDIZh_1rtbYPYrzObtJA--I86kPDmmkmauoVt5A_lYj0vjkn-BiNqupo8_kX65k0vfAlI_9iXezteQUakEgkhPWe4F1AlnFBu88kzUiHN7vXUAqInBWk_YqOR2lZXv5rdmePePb0KNHbI_Mw-9U4YKOzHGX28Ht-7xDKOEwDH718U9Lh69l95tOxPcZVTzkadooxADjtEKmPbDirGPWYJfjgm_lrf1RAXSjUU6zRt3gK6oUcxgR2SlcKBmNaVBHBRu3wAbcDgNgwrZ5qZQ7sIKgNxH6WkUIBHZUH_tRZWz2TjQB4Zp-hqGHzL_qE_TcRU-2zEov1YPdNSf7brdhKX9qc4z1m4HQAdKMPNj4WHLuObQ0gsWFKhlMoJ0IjO4dCd7Q2nj4FUfwdukNm5-Sr5ngutvrwMfl-fMjwCX09VuCNGUkPxZEimSBttfrqbv3rL0mwtSz1gN8CDkNGFDY_sXWSpsptOvuI39_W9SVDS3gvbecERKXiJ4UP2RL_qBVHnwVLZzXhJiDnDtIY-8omWEIYHCbJtNfQQNgG3rL6C7V64XH0_TgpA5yEbhCsdTt1smN4jwJsQ34SI1Q3TY9baAsQwHnBnAyhRXTA=w1476-h1054-no" alt="Avatar" class="image">
                                                <div class="overlay">
                                                  <div class="text">Havana</div>
                                                </div>
                                              </div>
                                            </a>

                                        <a class="little-div" href="https://www.yelp.com/biz/neighbours-seattle">
                                          <div class="container">
                                                <img src="https://lh3.googleusercontent.com/IwLz7Bs-KGm_LSYr7XbwlovcM_gVCEEOZ83V6ygsAJPe_sY2Uv4xwVAA6b-kyV7nT29tMS1LSDeaJfiyCtzuCtKEhCYrSO_ajDBTb7Ch74d4W7P8rv18bngSfCZOnx9si1HQXNBIjCep6bMG8J2UtorE0rMe63tx5zvEYUgxDvBKjNGoPHksTeufe2kAwrnqvKvr3p8ARzWnn8OIYe8h5AdKW2MFBsVS6CIsk0EN01YB-2Ho4dH5O2k7TaZe81A9gMErZS_FQeIoK85i6yG7ynAZdPEnHEuSA1SxGe1MYeCca4rYqAzSAyJX6igdKMT8fz0XkSelzOfo122q5Ai87bjwVb0O5jTMrJKJoRRnNmcyHYzWekus-uswF5Aq_n4Y_nMeUCMBNC8FDTCPTYwH_aiLQh8UT9e0Pg7f7ZbgP2u_0SLbyY1UORvOZFywfWsISI4-tn_v8LGDvWUmI39QnHkKU1NCNSMZzlwND1-ep--qnT33RfyjirBl43J1KKk0pRrS0MJQmvjHPTRafXBXXunm9br58XAPEMIv6fwN_rluk4XYVIDaBBXOdlyuGl38TVWepam13c4I4Eor7pIqcYlrpkvCRRUSvKGyaibblfFi31UbPgHdZvYHDRfcJ5DT8wun85MiAEec84TNofctzsTbWNW8ve0IibHjIqWiwZ_obR8becgFOA=w1270-h870-no" alt="Avatar" class="image">
                                                <div class="overlay">
                                                  <div class="text">Nighbour's Night Club and Lounge</div>
                                                </div>
                                              </div>
                                            </a>



                                            <a class="little-div" href="https://www.yelp.com/biz/q-nightclub-seattle-2">
                                              <div class="container">
                                                    <img src="https://lh3.googleusercontent.com/HovfC3TsFXl0zfjqWOD1yytEsYWfJOlNxZFdgto8d6ZIl18H0u8LqGEkASMxNEdR6Z12iTaXvzq2tYm97csrNywHzpQVSU_a2G3XkrhpOJB6vpYW1kKxYRZAs-eyxEpuD_6vFagZewZgjTDGAZq7sroOkp4L2IVrJmMvrPyhHRaXgQqiIVRZLSI5QIPx2yGpMq-OOB_rvavbiSJmbTLseSKzBrE1LXcdGQNvezB_9M9ZQ8gUrq5oBFaB0VCHJo6DQr8EM8Vq7y5rUEv_Ot64UbZfB1rhABZUz69WgS07iVd4jR83TPtadCWXfH5YF_hy2NlJP3EdZXqGciNhyDOrvaXGc6lsdo-5o86NPu_m2MuNpZj3wV5kjzbkCAXvg2NLw1wPF-EV6SFXpVwOtmyS5E5b6DS_9j1j5WRjd_Xj4cTLTpafbu2jPRiOSw3Ua_Ag2sJeNOpalYCFW5tNBf9JFZbTtIH10nwSl0jjbxAXTiD10MWbGDoilchtNXU4rU_VvAJ4v3gKUlMpXp4em6HGUheTPXFqDWfPMJVtyqIzI6FNDIzGpWanSVJUjjFRUNKeUB2wSVpKK_7XcMNPRp3EP-3nRFOJhuDvsvY4Dc8arzYdiWaD0sAvR-yzalzT6k2-ONOvSCvyi05HqQs3vScbnfBR-Vci0518qHv0cCQ_AD9vb_VOxsmLQg=w1442-h1074-no" alt="Avatar" class="image">
                                                    <div class="overlay">
                                                      <div class="text">Q Night Club</div>
                                                    </div>
                                                  </div>
                                                </a>


                                                <a class="little-div" href="https://www.yelp.com/biz/the-rhino-room-seattle-2?osq=the+rhino+room">
                                                  <div class="container">
                                                        <img src="https://lh3.googleusercontent.com/Ieh2bSnqAhZeSHr2SNx2PVtHjpdoFLr0yYnoWO_RQrawnY8AMt7XV24B_ea54sHjB3DlKHbaVD3fwSMikbcRUhsJyOzfeOYi-JKClWZ9ybj1Dz1B2FQb2a2ncKig0ZjnNXzsBsuBySk45fVVs6VCnl6U-J0g8dvD_sEuDI_ZoIDfAA1uiYyfGoWw4BIS95DbRt_au72CkPhLGLhEmB9sr56JnPO6FLlGrwH1wRUI8ns10ptnsIQSoDng2Q599kNsEW9uy7H6eXeqr9oRUu9X31ELbIB4tJOuaKTpldRC9MnR-n-ywBt-p4I-3wwZy9KZncuGwt8QsP5SDE__ToLzVPpQ9ZBSMbfmaq_D3N3aKmNpKQJwzLA-3AXC6yK7UfOlYqzlvbuxjKOwBU6BlXid7vm8fMJ4dhKtfqFOgcurpG1IIYUDha_0xAKSUNLKynhDWCiq15thAZ70FfKJt-T9bvQyHdsrKZN1tCx5vkeYBg1QmiYHzNhuT3m-09dks_uHcqrIenzXAeqGyNHmbZSrsW-uSjncqwWuagSZXXbeimoSB-lqMbK7NDOsRtO0-It-R_E0staJk1G057imKjo3_aJw14bQoyahvqcIj3Q7kE9f6nsAkewWeoqf7AGQ44azXKQjo2RCMsHZxVHvAewfkefHQdkS-6FeiMKTXZ4U6RffHumShNz_-Q=w1118-h762-no" alt="Avatar" class="image">
                                                        <div class="overlay">
                                                          <div class="text">The Rhino Room</div>
                                                        </div>
                                                      </div>
                                                    </a>



                                                    <a class="little-div" href="https://www.yelp.com/biz/the-cuff-complex-seattle?osq=the+Cuff+Comple">
                                                      <div class="container">
                                                            <img src="https://lh3.googleusercontent.com/ITwuXPWCMJ2bodKT2sedRPNfvdlz9H_YdyMHESIt1MaA1YWsjZZyfgedifT2TBgKRELWefb5uP_V96amkNif8aE4O3nW818fMDyBAlHuKJxVkUVSVAtwucL4LnAVNjjnjQivIXVEYXllS8FIg-cpvNmUI6u09SKf5GmakL5DiuHd90v6mtlYyQp6-lM1fK4Hxj4-2O0MaA2st91qADG-WdrTF4DLjl-gPNyvc-U6iX0swBkNuU9rsZWmf0x8ePdcwXKFfupTK14g5eRIks7Yk-cIJGiqOa0Gxk0hAVc45OViB26_jjkgG5dNeQm-kZxX4syP-7IuOoVUcug5NPU5CpKf_YfX2UbPi1plLBqER4nTUA-z-5jjnjCylZq-Ezv177E4nubgcwtkGboKP3_gZvk6kjGMFGz1LHE3lkd6C9THKu2ai5n78tLGUHXErxMS18F7MjiCH4Lftf5mV2leS2OuPc2nhMEKlbaFRqkR1IsgMX6x4F81h3DVr6l0Nw1cSQEQ1pAPPtjCxB-LUPxu-b5R14IQVCbigpUl6bBko8HT-gDXY4S6tyRrRA7hWAMA3BY13of4nbYH06Czf2TZml0tVwdcHadSk8VERuf81YKmjzl17iy8v_Vo5bx7hYjB2D90Qi7zC7H017_E2bPzf7-r4PD37wZRrCzN5wzh3LYDsNpHsdmwJw=w1372-h918-no" alt="Avatar" class="image">
                                                            <div class="overlay">
                                                              <div class="text">The Cuff Complex</div>
                                                            </div>
                                                          </div>
                                                        </a>

                                                    <a class="little-div" href="https://www.yelp.com/biz/trinity-nightclub-seattle?osq=trinity">
                                                      <div class="container">
                                                            <img src="https://lh3.googleusercontent.com/nQN6ntxVQkmHumg27q70lIMpgPyFm-fgRiZFi3sJO0Gyxdg6b2iQQDeb24UE3PeL1M34mPeSFLKMbgbqBHlBCJ-2vdZFqJpkdiAXJoSiHm8Nd95w-yk4fSkB7n8j0p3pMV3V3_5q5RqefXb3oxDJ-ro9KU2NCNcYraL5w_1mrG0CVywDn4o_tVGQ7dAROVlHyFWzoioXkZCBkCqcAlrt7XcELp9gALVtw8-paWCbnHD8jn6ZQRTMXunWZeAu6eox7RMWj-x9aKMLuXoSi_M5NtR3yxRDX626sxIeuBDn3eGe7ChTRR_szB3FeRQjqkK5aPZ2EB0-Fo1K5Ux7s1LnanlJz0BBtPQddsB7BgEE7oVKbMG_6ZNxXAXiMWI_I--IsUJJ38wwlRLCKDA3FWu4YFoTOmCS1EwEZZ0vEnTdIFCN6-tRUq3ks01UHCwEcJFRpI3E5jB5cMp2ulT6D1KqN74xr-UyI4a8VFzDMRwX8--cIgcAohB5At05t1nI7M38XUo-OR8RaKRoo5dLncBGonFlkRUMJLYEZhnRjoZyql7cBtwZXlSfhjZnJC5rKtvnH2MU4vja1Okxmmr-qk4BqQYeBSI8xNAe_Y15Ur4lLztACR9Co4hdu7elB_QK6BZNNk2hzX6YkfoEYNiBR-eqi2t7PVMhT9xIzddL_sLHFkqxoI6lCKYKHw=w492-h383-no" alt="Avatar" class="image">
                                                            <div class="overlay">
                                                              <div class="text">Trinity</div>
                                                            </div>
                                                          </div>
                                                        </a>
                                                      </div>

          <div class="head"> <img src="https://lh3.googleusercontent.com/MyB4Q61JGTNejpRCTBWXUUXaiCXHBMcNR5nJBLQdopsfXSQuqIXi6TgL79ncQMm0w2GnDF1tZrZkTvs2PAExD0ev9KBPXd3zeF7Fv91ooKlSXfnPRmu3HoyST4JwlSN70czcn_TUsTB81moU86wKzcstUH4PxHbyJckpfKDWDpO5sjTsnmj_jT2F4_IFJZyR3FS8pn6eRixRaJl6dKWWQ_WzS1Mj38Jgau5q0b06QlgtsuKRgMpUSAVQP4J0CtwH6eBth7-LHorJ8Fa9sndZ17rzCfLH-jhjpwsqhEyh-COyHc_xTxUeSrMXSjS4NaskWrAScAz9fOF51FcyNI0b-LPXCqpJgKgM63dF3ZvFkg-C18EvSNdrb9KwBiGrMhm58JbtbsCsvzd2gnjZMSgnWpNVC5LKlzqYSc3PHJEGlOACL8lG1Cmq9oabPtRelgByQnvrtm08wKAGoqMO2f6xgkCnet6nGzAm9zEXmW1okN37hKQJD78FglPH5lUe1X69dzWINESnPKgubH1oewMhws4GAdiRsmYetIjMgsuOMAVTihup3C1Efhyt7gLVfu3VNn06Gg1g1Dv-94AragVrLchHy0e9fEuTgeIlfOQHrvcZF6B-kxGxdwARkn3uYHXzfv2aNPyNr9PAaPgWncnQKlWtmnjq2-GxTLZAUU1dSYsiijyqpXcvHQ=w766-h160-no" height="100%" width="100%">
       <h1 class="title"><span>Recreational Shop's</span></h1>
           </div>
           <div class="big-div">

           <a class="little-div" href="https://www.yelp.com/biz/have-a-heart-belltown-seattle-3?osq=have+a+heart">
            <div class="container">
                  <img src="https://lh3.googleusercontent.com/wdjymhoFNdPRx2OfN765dg0CqkU11Nswk4xOr-6Klyy9SVtioN89WQJ7zXuOYyHn6wCnKrtlIee73fteAVa6oZAeIf2IiINW25ibCl3CwA1MckSEFyeaHShG5nczr9r9X7QLHAEuyxWirF5CBFfJJhN_Bg0YUgQg4uw8PmXI9J6H3C6PVxTnuKE6020EhW2QjDOHb9mufgXZ0Hv6kyjpqYKXMlXC0yCxpfojYxaHbj-O71qglOryAd3PTa4O4A81t_wkgkenkBw9qUJD7JyMLUd8twXQxWYVQ6SheVXLjlWvl1w11OobVsZuF84zz0s27L-EUPRWXdVnGJfKwCiE-hEwnzDuEhiFIqYS55lJZ5fxedls6RJoYTBg94j7UeGwDw9r2VcVy5AVSHxLYg2rwUly34tmBXEUHrJEmUXw0tZpJCwV_8T6es2LpzaYHMg2xkKrO5zBQioi_ULfsz2vbSO7wr9KDBYS1G75tbVhaRzVs17sDeG5QjLYm4zcvo06UNcqN3DodVkr9eg9Q5Dns4yRV6Y5FVq0h-pRqGZwjjMTyInwH83qdN8PnjLOdJ5G-TprH_cBZ_sUQNf2YRGGyQ4G6tcbD-qk7Dhqj90yyfnIqiXdxteRox-1rk0AS7Un6IhLs6HVa8pfI36_wUUZkB_NkHU4Ti2DcrbNCIkl-5IXz0u57upeEA=w1190-h864-no" alt="Avatar" class="image">
                  <div class="overlay">
                    <div class="text">Have a Heart</div>
                  </div>
                </div>
              </a>


              <a class="little-div" href="https://www.yelp.com/biz/herban-legends-pot-shop-seattle?osq=Herbal+legend%27">
                <div class="container">
                      <img src="https://lh3.googleusercontent.com/2VNSookW8geKQw6gZi_e86bJw9jHjQSZ3rsHlPIypWAV-MigKKWqepkj__z6zoGN2_5a9Y-eu4LqfeIUsWSbEhqr1dKx9ev3IcyMKRYc7q4v9ChoytRwj8yWcJ5qA4J-QVgRyBF0WeA1zwSiTyEZl6K-Ar1oUbAGeIVfTO9ilwlUoQem0BmP9NIIdLEVNWW938L0uuEL7R9oZDgVhG-ZAqnX3p6wvT14-RWFL_n9hyDC1cjQnQ1EoeQkqTB7OeMfbZsRz1E0LlWdyc1YxU7ROJ5e4Ut1kfsCN5hJmZH3RkBjhZWzJXNnlUxK5bVN3bh_5tUMW85seFtG_C97JLhRyeLvkDcy0POuVgOgmx7KC7YB1c2Ir9nZTJtiU3WeTyQEK0XtDCTERDWUQkEshmkqCUWSMMNk8DGW74uKJjfGIIRo0deJUjJMid6KIsb_mD5JPYg0xkzzZXP6urnUaHbyThnjKqEtFRgzhbaqTD1oipVR_mO76rFqhP7gqPtOfA3ycAyZeXZu9i1eBfpe5Teq305pZ-569N4IDaENLAyBPQwVwTlOJRb4KbKbpzf-mPEo2Y8RyUkiy8Y_tujWj2wS9ofI3DW1J7OJEKqP7pXdWXPRFZ1_JTRiwK5Fty_8maNyVYbyuhT9Wb-JPDMTdDUeS81__o_7w0DUaL00MgxiLfTI8AyufF0wYQ=w494-h408-no" alt="Avatar" class="image">
                      <div class="overlay">
                        <div class="text">Herbal legend's</div>
                      </div>
                    </div>
                  </a>



                  <a class="little-div" href="https://www.yelp.com/biz/ponder-cannabis-shop-seattle-3?osq=Ponder">
                    <div class="container">
                          <img src="https://ibb.co/gPyyDv8" alt="Avatar" class="image">
                          <div class="overlay">
                            <div class="text">Ponder's</div>
                          </div>
                        </div>
                      </a>



                      <a class="little-div" href="https://www.yelp.com/biz/ruckus-recreational-cannabis-seattle?osq=Ruckus+Recreationa">
                        <div class="container">
                              <img src="https://lh3.googleusercontent.com/rkbZQocZlHHaTTPOPATXR_NiqDBgckDEqoQay_TTqoft_DM0S_a-PBfRdgkf0O53i3BhmGty2FyUxcNE1AnjxiaKbvKAwGWA1pLROeo-KUbb8nMf8EkYalJg59GavntwvMNFRprd1pAacpYYei5i1Q3X5FUiWYNL9mngaxyrXj4r9AhhJPR8H4SnsyWcah4i_cdYFCOFnTMv6ly30M2_5vpSVYe_i8wSyWbnWRJO1TtRqxH2uR3wXZlewLGqP7xCVGxfkw_faKX4go9Xr_vwG7b-93s0IanPOrSCkTKUW866iswwbwqdRrIpFZeHMOjBUdgve58gEW9S327xiJZwIT0M9Ib-YTRuTfIFt4v2G1f9D1I_MjRHyTh9Ofi3wjGqcD-HzIvSWqqAilkz4kNcWxE9_kvYbFFd76hz0vZ-yNsbI5VcQdOOsRG45nX2Hm2iPSrsOazOI9QakXrGuTuNte9Q9Di4ScVHBrPT3RStdwCt_DAytNqcoW_VMG26eOjDdS62ud2FlNI3ZAXJiYeW9CWF-akfOcvoUGS4U2i25cWstLuPmseXDK1URr2VN-8BwRHUXWw-fvPulxCK1ez_M5X6MUOfbYwsCjxKCT5dC9bAWbxK3gZxm9ANZqNfi9OtDbf0d0nBOOP6vAwKsOdQA_1GMExCNHGD8oivQyMtmXhmKBRe7BJhlg=w1322-h894-no" alt="Avatar" class="image">
                              <div class="overlay">
                                <div class="text">Ruckus Recreational</div>
                              </div>
                            </div>
                          </a>

                      <a class="little-div" href="https://www.yelp.com/biz/the-reef-capitol-hill-seattle?osq=the+reef">
                        <div class="container">
                              <img src="https://lh3.googleusercontent.com/lh3eL4Mu_h_kijuXXxB5j670Fk7BEUgHgfmvyFk8a-MzZ6UYMH56NwJHG0-J_sD8Pqx0oFr-hkwMvnLvCaWbU4StCtYbQZK0udPhhvXmjEafejppOlpFHITLGVO3KJ4GK_8LQuvXMH9_EKtH8j6yBML6xd7yGsxeOmyKC_JZGRi-k55_U1GpIVz3-TjrbC3nVXaKZJxgA7XnjRfBAwW3HD4RwfMTaBrmidkFOKiFAnj34gdzGN0YiTUCMdhaSb8zIeo5ElecH0d97cDrZbJt3WICqWf51k_EWeaRjgS5Bf2tuyql9U9aVFx2Bi4nwWOyjyPVg5wi9Iw5VNwSDvT-cSAlDa-vOyw2Y7HMf9H41RMtEidAJK43kS8E6KZLnaf1SXWbhy5AK7z_-6knM2SXz6kOEor3KUiTM0srGkeWHDZkge3tm7Wzq8FpT8c_T6AYv1rJGbdG7KeEnGzo5qhz59W25kH1zUxAnn33R8MCnotEGkLwOdKNZl--9jnmZrwpZHd8CuhYF4XG20PInORY6yClwc_cBN8Wn3w4iH_DS7pKp8xasBiV0YU5EwPctPJZCq5lkM0SLmbUYL_ZnLCRz69-AzCoGkSLGbcvcX7Pga-O24cn6ZMRaJPqAoyglhjscocuH9wQp6MyeH0TSYl2ccTkCBKjT7g8wMbP9Lwbkl1ZPpstVxKwtw=w1200-h850-no" alt="Avatar" class="image">
                              <div class="overlay">
                                <div class="text">The Reef</div>
                              </div>
                            </div>
                          </a>


                          <a class="little-div" href="https://www.yelp.com/biz/uncle-ikes-pot-shop-seattle-3?osq=Uncles+Ike">
                            <div class="container">
                                  <img src="https://lh3.googleusercontent.com/y9_MAtF_Pq5QDnobF2s5oeVog6t1El5ltI9UIVq6DPPX02Kxqr2m9NlKXBFsubuYR_Fxu4FGIzd2rKVWE_3_aNI2McghwJyjBeY9ZdWXzGonqfnYzPic6_piryF66KMsT0vX1xRg56gXKiv6YPW2Osn5EsI7Mc_qvfO62BAd8mtGqHpTtr73pm5yDpdFPj4jpYs4ZFbsQoLXCmNkk1UZn1Vw2a8jCHN_aQ2aMYO4uG02CxbSwviJPyxJ999szf6907j0-BXjNWIWNCFaWig1u5n0i0yUirVoQsLpWIlwO3cuuBvoHkVctXUV6UK8WHoxMZ0K56W1gVMO7XYK8ThjOPF785qJFhzcZ6uQBYwzdn7gTdoZMjLUtZQfgy2GJFR1smwqHeKGb6D0ZI-ZZOVYNG5Qdi-ms1fws8RhSuq2pOh8GMmKlb3lT3YRg-ohXwNKQfLDJmQxzWxPCNsNF8nf-Vu6vYpEmcOd3MFSvk0n0qrg-tM9c11j_V0-gnX3o3ptxAoNGxlyChkOZ6E8D7r-V38mHjrKOwFvU3sTRlz4qHRk7zV2inqXtyigdfQInYki6RchujmdB6Ag27dDmPBqfxkajkLvrCUQfogfbknt2ClAB7WNwV1yjpHNJjb09qD6XTBmJ-hzTABqka560pM1-gx-o_TklnCcBhCb_iimkvOCXP-fABBjNA=w872-h1176-no" alt="Avatar" class="image">
                                  <div class="overlay">
                                    <div class="text">Uncles Ike's</div>
                                  </div>
                                </div>
                              </a>
