<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
    
</head>
<body class="body">
  

  <div class="main-head"> <img src="https://i.gyazo.com/6636c3862a9af49bf571e8f4cd2c3973.jpg" height="100%" width="100%" > 
        <div 
        
        class="main-title"> <h1> <span class="span">Captial Hill Adult Social Life</span></h1>
          
      </div>
      </div>



  <div class="head"> <img src="https://i.gyazo.com/2a7b7b16b25ca9f3e59b7be8ee028f82.png"  height="100%" width="100%"> 

 <h1 class="title"> <span>Hookah Bar's</span></h1>
  </div>


  
    <div class="big-div">

        <a class="little-div" href="https://www.yelp.com/biz/seattle-hookah-lounge-seattle">
          <div class="container">
                <img src="https://i.gyazo.com/be0560ee231e9dba8ce9527ec5832d35.png" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">Seattle </div>
                </div>
              </div>
              </a>
          
            

            <a class="little-div" href="https://www.yelp.com/biz/ember-hookah-lounge-seattle">
              <div class="container">
                    <img src="https://i.gyazo.com/d76da24cde3e6c53ff12c03b6545e90a.png" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">Ember</div>
                    </div>
                  </div>
                </a>
        


                <a class="little-div" href="https://www.yelp.com/biz/kings-hookah-lounge-seattle">
                  <div class="container">
                        <img src="https://i.gyazo.com/c0005ccaadbbcbf827506dcf978158c4.png" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">King's </div>
                        </div>
                      </div>
                    </a>
            
            

                <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                  <div class="container">
                        <img src="https://i.gyazo.com/0a6fe1c59c59b93a17f913b98346c2fc.png" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Aladdin</div>
                        </div>
                  </div>
                       </a>
                

                    <a class="little-div" href="https://www.yelp.com/biz/casablanca-hookah-lounge-seattle?osq=Casa+Blanca+Hookah">
                      <div class="container">
                            <img src="https://i.gyazo.com/3922740b75385d52bedb92b10cbe484b.png" alt="Avatar" class="image">
                            <div class="overlay">
                              <div class="text">Casa Blanca </div>
                            </div>
                          </div>
                        </a>

                      </div>





                    <div class="head"> <img src="https://i.gyazo.com/37bf9644894fda7f38ffc2f29873934f.jpg" height="100%" width="100%">
                        <h1 class="title"> <span> Club's </span> </h1>
                          </div>
                          
                            <div class="big-div">
                        
                        
                                <a class="little-div" href="https://www.yelp.com/biz/the-baltic-room-seattle">
                                  <div class="container">
                                        <img src="https://i.gyazo.com/e715b755a2980eb3fcb2fbddb9b7671e.png" alt="Avatar" class="image">
                                        <div class="overlay">
                                          <div class="text">The Baltic Room</div>
                                        </div>
                                      </div>
                                    </a>
                        
                        
                                    <a class="little-div" href="https://www.yelp.com/biz/capitol-lounge-seattle">
                                      <div class="container">
                                            <img src="https://i.gyazo.com/bb0e38fc91b40b47b48c1b587de6fd13.png" alt="Avatar" class="image">
                                            <div class="overlay">
                                              <div class="text">Capital Lounge</div>
                                            </div>
                                          </div>
                                        </a>
                        
                        
                        
                                        <a class="little-div" href="https://www.yelp.com/biz/havana-seattle?osq=havana">
                                          <div class="container">
                                                <img src="https://i.gyazo.com/5b7038f9baa9e16c5e4f555674d89439.png" alt="Avatar" class="image">
                                                <div class="overlay">
                                                  <div class="text">Havana</div>
                                                </div>
                                              </div>
                                            </a>
                                    
                                        <a class="little-div" href="https://www.yelp.com/biz/neighbours-seattle">
                                          <div class="container">
                                                <img src="https://i.gyazo.com/4af667e69a79cc13434a2932d7dba482.png" alt="Avatar" class="image">
                                                <div class="overlay">
                                                  <div class="text">Nighbour's Night Club and Lounge</div>
                                                </div>
                                              </div>
                                            </a>
                                    
                        

                                            <a class="little-div" href="https://www.yelp.com/biz/q-nightclub-seattle-2">
                                              <div class="container">
                                                    <img src="https://i.gyazo.com/2dbdbcaa9bca43b3b2abb01fab89d638.png" alt="Avatar" class="image">
                                                    <div class="overlay">
                                                      <div class="text">Q Night Club</div>
                                                    </div>
                                                  </div>
                                                </a>
                                    
                                    
                                                <a class="little-div" href="https://www.yelp.com/biz/the-rhino-room-seattle-2?osq=the+rhino+room">
                                                  <div class="container">
                                                        <img src="https://i.gyazo.com/bde4961739be9b0c3e965ac7924035cd.png" alt="Avatar" class="image">
                                                        <div class="overlay">
                                                          <div class="text">The Rhino Room</div>
                                                        </div>
                                                      </div>
                                                    </a>
                                    
                                    
                                    
                                                    <a class="little-div" href="https://www.yelp.com/biz/the-cuff-complex-seattle?osq=the+Cuff+Comple">
                                                      <div class="container">
                                                            <img src="https://i.gyazo.com/4ec4bd8f986ccfff76edf6f6bc662dcc.png" alt="Avatar" class="image">
                                                            <div class="overlay">
                                                              <div class="text">The Cuff Complex</div>
                                                            </div>
                                                          </div>
                                                        </a>
                                                
                                                    <a class="little-div" href="https://www.yelp.com/biz/trinity-nightclub-seattle?osq=trinity">
                                                      <div class="container">
                                                            <img src="https://i.gyazo.com/31acab46c60852d38f271bfd5a941d33.png" alt="Avatar" class="image">
                                                            <div class="overlay">
                                                              <div class="text">Trinity</div>
                                                            </div>
                                                          </div>
                                                        </a>
                                                      </div>

          <div class="head"> <img src="https://i.gyazo.com/34e8b614c13fdc38dea828e186f8bee2.jpg" height="100%" width="100%">
       <h1 class="title"><span>Recreational Shop's</span></h1>
           </div>
           <div class="big-div">
                                                              
           <a class="little-div" href="https://www.yelp.com/biz/have-a-heart-belltown-seattle-3?osq=have+a+heart">
            <div class="container">
                  <img src="https://i.gyazo.com/bd5c6887adb35d2dcd533402ee8a9297.png" alt="Avatar" class="image">
                  <div class="overlay">
                    <div class="text">Have a Heart</div>
                  </div>
                </div>
              </a>
  
  
              <a class="little-div" href="https://www.yelp.com/biz/herban-legends-pot-shop-seattle?osq=Herbal+legend%27">
                <div class="container">
                      <img src="https://i.gyazo.com/eed8395e174e92a8c4a547f9e1db9e61.png" alt="Avatar" class="image">
                      <div class="overlay">
                        <div class="text">Herbal legend's</div>
                      </div>
                    </div>
                  </a>
  
  
  
                  <a class="little-div" href="https://www.yelp.com/biz/ponder-cannabis-shop-seattle-3?osq=Ponder">
                    <div class="container">
                          <img src="https://i.gyazo.com/dff88da7162339feed47f10115660a6c.png" alt="Avatar" class="image">
                          <div class="overlay">
                            <div class="text">Ponder's</div>
                          </div>
                        </div>
                      </a>



                      <a class="little-div" href="https://www.yelp.com/biz/ruckus-recreational-cannabis-seattle?osq=Ruckus+Recreationa">
                        <div class="container">
                              <img src="https://i.gyazo.com/6e0e65d9ef3f2051ddaadd7353a3eaed.png" alt="Avatar" class="image">
                              <div class="overlay">
                                <div class="text">Ruckus Recreational</div>
                              </div>
                            </div>
                          </a>
                  
                      <a class="little-div" href="https://www.yelp.com/biz/the-reef-capitol-hill-seattle?osq=the+reef">
                        <div class="container">
                              <img src="https://i.gyazo.com/854500533d8d1df3b63a36efb4fb6524.png" alt="Avatar" class="image">
                              <div class="overlay">
                                <div class="text">The Reef</div>
                              </div>
                            </div>
                          </a>


                          <a class="little-div" href="https://www.yelp.com/biz/uncle-ikes-pot-shop-seattle-3?osq=Uncles+Ike">
                            <div class="container">
                                  <img src="https://i.gyazo.com/8ddd8d189574bfdcf99dceb34a0d41bd.png" alt="Avatar" class="image">
                                  <div class="overlay">
                                    <div class="text">Uncles Ike's</div>
                                  </div>
                                </div>
                              </a>
                      
                       
    


    </div>
</body>
</html>
