<!DOCTYPE html>
<html lang="en">
  <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Tourist Spots</title>
<link rel="stylesheet" href="/tourist-spots.component.css">
  </head>
  <body>
<div class="pimg1">
  <div class="ptext">
    <span class="border">
      Tourist spots
    </span>
  </div>
</div>

<section class="section section">
<h2>Space Needle</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border trans">
       <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.289359274378!2d-122.35146608436897!3d47.620506279185534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490151f4ed5b7f9%3A0xdb2ba8689ed0920d!2sSpace%20Needle!5e0!3m2!1sen!2sus!4v1574393081869!5m2!1sen!2sus"  target="_blank"style="color:rgb(255, 255, 255)">Space Needle</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>Pike Place Market</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg3">
  <div class="ptext">
    <span class="border trans">
      <a href=" https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5379.6883130699025!2d-122.3465703223639!3d47.60971991673944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906ab2c54769e9%3A0x94c94c79f46fe138!2sPike%20Place%20Market!5e0!3m2!1sen!2sus!4v1574448440155!5m2!1sen!2sus"  target="_blank"style="color:rgb(255, 255, 255)">
      Pike Place Market</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>Pacific Science Center</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg4">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg5">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg6">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg7">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg8">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg9">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg10">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg11">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg12">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg13">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg14">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg15">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg16">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg17">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg18">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg19">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg20">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg21">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg22">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg23">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg24">
  <div class="ptext">
    <span class="border trans">
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3288131176955!2d-122.35328108436907!3d47.61973927918557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154cbd561603%3A0x99a953b20bf0eb3e!2sPacific%20Science%20Center!5e0!3m2!1sen!2sus!4v1574449659496!5m2!1sen!2sus" target="_blank"style="color:rgb(255, 255, 255)">
      Pacific Science Center</a>
    </span>
  </div>
</div>

<section class="section section">
<h2>next</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus, cupiditate officiis voluptatibus aperiam illo doloribus quidem rem nulla, hic labore quae nihil inventore. Et labore iusto, placeat modi beatae commodi consequuntur veritatis animi sunt aut dolorum expedita corrupti necessitatibus optio, dolore id vitae at eos impedit consequatur sed. Laudantium saepe, quidem atque obcaecati culpa tempore corrupti dignissimos assumenda quod nulla amet eligendi labore. Autem accusamus laboriosam quasi voluptates! Tempore dicta tenetur quasi quod velit omnis vitae recusandae? Unde a explicabo architecto ipsum fugiat cumque laudantium facere voluptates repellendus itaque? Quasi ea rem mollitia ipsa distinctio vitae exercitationem at cupiditate. </p>
</section>

<div class="pimg1">
  <div class="ptext">
    <span class="border">
      Tourist spots
    </span>
  </div>
</div>

</body>
</html>
