body, html{
height:100%;
margin:0;
font-size: 16px;
font-family: "Lato", sans-serif;
font-weight: 400;
line-height: 1.8em;
color:rgb(121, 121, 121);
}
.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7, .pimg8, .pimg9, .pimg10, .pimg11, .pimg12, .pimg13, .pimg14, .pimg15, .pimg16, .pimg17, .pimg18, .pimg19, .pimg20, .pimg21, .pimg22, .pimg23, .pimg24{
position:relative;
opacity:0.90;
background-position:center;
background-size:cover;
background-repeat:no-repeat;


background-attachment:fixed;
}

.pimg1{

background-image: url('https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2F1452116380%2Fspace-needle-seattle-sea0116.jpg%3Fitok%3D_U3my-fS&c=sc&poi=face&q=85');  
min-height: 600px;
}
.pimg2{

background-image: url('https://olsonkundig.com/wp-content/uploads/2019/03/13049_00_N454_high-2160x1620.jpg');  
min-height: 400px;
}
.pimg3{

background-image: url('https://cdn.vox-cdn.com/thumbor/VjrdnIjF9QTw5qjGR1KKFfi1EPg=/0x0:2000x1329/1200x900/filters:focal(654x260:974x580)/cdn.vox-cdn.com/uploads/chorus_image/image/55235639/eatersea0916_pike_place_market_shutterstock_mcarter.0.0.jpg');  
min-height: 400px;
}

.pimg4{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}
.pimg5{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg6{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg7{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg8{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg9{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg10{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg11{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg12{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg13{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg14{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg15{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg16{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg17{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg18{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg19{

background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Pacific_Science_Center_at_night_04.jpg');  
min-height: 400px;
}

.pimg20{
background-image: url('https://cdn.vox-cdn.com/thumbor/VjrdnIjF9QTw5qjGR1KKFfi1EPg=/0x0:2000x1329/1200x900/filters:focal(654x260:974x580)/cdn.vox-cdn.com/uploads/chorus_image/image/55235639/eatersea0916_pike_place_market_shutterstock_mcarter.0.0.jpg');  
min-height: 400px;
}

.pimg21{
background-image: url('https://cdn.vox-cdn.com/thumbor/VjrdnIjF9QTw5qjGR1KKFfi1EPg=/0x0:2000x1329/1200x900/filters:focal(654x260:974x580)/cdn.vox-cdn.com/uploads/chorus_image/image/55235639/eatersea0916_pike_place_market_shutterstock_mcarter.0.0.jpg');  
min-height: 400px;
}

.pimg22{
background-image: url('https://cdn.vox-cdn.com/thumbor/VjrdnIjF9QTw5qjGR1KKFfi1EPg=/0x0:2000x1329/1200x900/filters:focal(654x260:974x580)/cdn.vox-cdn.com/uploads/chorus_image/image/55235639/eatersea0916_pike_place_market_shutterstock_mcarter.0.0.jpg');  
min-height: 400px;
}

.pimg23{
background-image: url('https://cdn.vox-cdn.com/thumbor/VjrdnIjF9QTw5qjGR1KKFfi1EPg=/0x0:2000x1329/1200x900/filters:focal(654x260:974x580)/cdn.vox-cdn.com/uploads/chorus_image/image/55235639/eatersea0916_pike_place_market_shutterstock_mcarter.0.0.jpg');  
min-height: 400px;
}

.pimg24{
background-image: url('https://cdn.vox-cdn.com/thumbor/VjrdnIjF9QTw5qjGR1KKFfi1EPg=/0x0:2000x1329/1200x900/filters:focal(654x260:974x580)/cdn.vox-cdn.com/uploads/chorus_image/image/55235639/eatersea0916_pike_place_market_shutterstock_mcarter.0.0.jpg');  
min-height: 400px;
}

.section{
text-align:center;
padding:50px 80px;

}


.section{
background-color:#282e34;
color:#ddd;

}

.ptext{
  position: absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform: uppercase;

}

 .ptext .border{
  background-color:#111;
  color:rgb(255, 255, 255);
  padding:20px;

}
.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment: scroll;
  }
}
a href{
  color:rgb(255, 255, 255);
}
