<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<header>
  <div class="container">
      <a routerLink="/"><img src="/assets/pics/yupp.png" height="75px" alt="logo" style="float: left; margin: 5px 0px 5px 80px;"></a>
    <nav>
      <a routerLink="resturants">Resturants</a>
      <a routerLink="companies">Companies</a>
      <a routerLink="outdoor-events">Outdoors</a>
      <a routerLink="places-to-stay">Crash Pads</a>
      <a routerLink="public-transportation">Transport</a>
      <a routerLink="shopping">Shopping</a>
      <a routerLink="tourist-spots">Tourist Spots</a>
      <a routerLink="21&over">21 & Over</a>
    </nav>
  </div>
</header>


</body>
<router-outlet></router-outlet>
