<header>
  <div class="container">
      <a routerLink=""><img src="/assets/pics/yupp.png" height="75px" alt="logo" style="float: left; margin: 5px 0px 5px 80px;"></a>
    <nav>
      <a routerLink="resturants">Resturants</a>
      <a routerLink="companies">Companies</a>
      <a routerLink="outdoor-events">Outdoors</a>
      <a routerLink="places-to-stay">Crash Pads</a>
      <a routerLink="public-transportation">Transport</a>
      <a routerLink="shopping">Shopping</a>
      <a routerLink="tourist-spots">Tourist Spots</a>
      <a routerLink="21&over">21 & Over</a>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>