    <a href="https://mbarseattle.com/" target="_blank">
      <div class="parent two" onclick="">
        <div class="child bg-four">
            <span>MBar!</span>
        </div>
      </div>
    </a>
    <a href="https://www.graduatehotels.com/seattle/restaurant/mountaineering-club/" target="_blank">
      <div class="parent two" onclick="">
        <div class="child bg-five">
            <span>Mountaineering Club!</span>
        </div>
      </div>
    </a>


    <a href="https://www.wta.org/go-hiking/hikes/rattlesnake-ledge" target="_blank">
      <div class="parent four" onclick="">
        <div class="child bg-six">
            <span>Rattlesnake Ledge!</span>
        </div>
      </div>
    </a>
    <a href="https://www.wta.org/go-hiking/hikes/poo-poo-point" target="_blank">
      <div class="parent four" onclick="">
        <div class="child bg-seven">
            <span>Poo Poo Point!</span>
        </div>
      </div>
    </a>
    <a href="https://www.wta.org/go-hiking/hikes/mailbox-peak" target="_blank">
      <div class="parent four" onclick="">
        <div class="child bg-eight">
            <span>Mailbox Peak!</span>
        </div>
      </div>
    </a>
    <a href="https://www.wta.org/go-hiking/hikes/talapus-and-olallie-lakes" target="_blank">
      <div class="parent four" onclick="">
        <div class="child bg-nine">
            <span>Talapus and Olallie Lakes!</span>
        </div>
      </div>
    </a>


    <a href="https://www.mccawhall.com/events/detail/the-nutcracker-2019" target="_blank">
      <div class="parent three-long" onclick="">
        <div class="child bg-ten">
            <span>The Nutcracker at McCaw Hall!</span>
        </div>
     </div>
    </a>
    <a href="https://snowflakelane.com/" target="_blank">
      <div class="parent three-long" onclick="">
        <div class="child bg-eleven">
            <span>Snowflake Lane!</span>
        </div>
      </div>
    </a>
    <a href="https://enchantchristmas.com/seattle" target="_blank">
      <div class="parent three-long" onclick="">
        <div class="child bg-twelve">
            <span>Enchant Christmas Seattle!</span>
        </div>
      </div>
    </a>


    <a href="http://amfseattle.com/" target="_blank">
      <div class="parent four" onclick="">
        <div class="child bg-thirteen">
            <span>All My Friends!</span>
        </div>
      </div>
    </a>
    <a href="https://www.showboxpresents.com/" target="_blank">
      <div class="parent four" onclick="">
        <div class="child bg-fourteen">
            <span>Showbox!</span>
        </div>
      </div>
    </a>
    <a href="https://www.facebook.com/monkeyloftseattle/" target="_blank">
      <div class="parent four" onclick="">
        <div class="child bg-fifteen">
            <span>Monkey Loft!</span>
        </div>
      </div>
    </a>
    <a href="https://www.jazzalley.com/www-home/" target="_blank">
      <div class="parent four" onclick="">
        <div class="child bg-sixteen">
            <span>Dimitriou's Jazz Bar!</span>
        </div>
      </div>
    </a>


  <a href="https://www.seattle.gov/parks/find/parks/kerry-park" target="_blank">
    <div class="parent three" onclick="">
      <div class="child bg-one">
          <span>Kerry Park View!</span>
      </div>
    </div>
  </a>

  <a href="https://www.seattle.gov/parks/find/parks/alki-beach-park" target="_blank">
    <div class="parent three" onclick="">
      <div class="child bg-two">
          <span>Alki Beach View!</span>
      </div>
    </div>
  </a>

   <a href="https://www.seattle.gov/parks/find/parks/yesler-terrace-park" target="_blank">
      <div class="parent three" onclick="">
        <div class="child bg-three">
            <span>Yesler Terrace Park!</span>
        </div>
      </div>
    </a>
    

    <a href="https://www.stevenspass.com/" target="_blank">
      <div class="parent two" onclick="">
        <div class="child bg-seventeen">
            <span>Stevens Pass!</span>
        </div>
      </div>
    </a>
    <a href="https://www.crystalmountainresort.com/" target="_blank">
      <div class="parent two" onclick="">
        <div class="child bg-eighteen">
            <span>Crystal Mountain!</span>
        </div>
      </div>
    </a>
    <a href="https://www.soundersfc.com/" target="_blank">
      <div class="parent three" onclick="">
        <div class="child bg-nineteen">
            <span>Sounders!</span>
        </div>
      </div>
    </a>
    <a href="https://www.seahawks.com/" target="_blank">
      <div class="parent three" onclick="">
        <div class="child bg-twenty">
            <span>Seahawks!</span>
        </div>
      </div>
    </a>

    <a href="https://www.mlb.com/mariners" target="_blank">
      <div class="parent three" onclick="">
        <div class="child bg-twentyone">
            <span>Mariners!</span>
        </div>
      </div>
    </a>
